replicaCount: 1

image: 
  repository: ibmcom/icp-configmap-watcher
  tag: 0.0.1
  pullPolicy: IfNotPresent

args:
  verbosity: 0
  cleanFreq:
  gatherFreq:
  checkConfigmapFreq:

serviceAccount:
  name: default
  create: false

securityContext:
  pod:
    runAsNonRoot: true
    runAsUser: 10000
  container:
    privileged: false
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsUser: 10000
    runAsNonRoot: true

nodeSelector:
  master: "true"
affinity: {}

tolerations:
  - effect: NoSchedule
    key: dedicated
    operator: Exists
  - key: CriticalAddonsOnly
    operator: Exists
  - effect: NoSchedule
    key: node.kubernetes.io/not-ready
    operator: Exists

resources:
  limits:
    memory: "300Mi"
    cpu: "200m"
  requests:
    memory: "150Mi"
    cpu: "100m"

imagePullSecrets: []
